.a-states .a-s-body p {
   /* font-size: 32px; */
}
.a-states .a-s-body .wrap {
   margin-top: 128px;
}
.a-states .a-s-body img {
   width: 50px;
   /* height: 159px; */
}
.a-states .a-s-body img.icon {
   width: 217px;
   height: 159px;
}
.a-states .a-s-body small {
   /* font-size: 24px; */
   font-style: italic;
   font-weight: 300;
   line-height: normal;
}

.a-states .a-s-btn {
   display: none;
}
.a-states .a-s-btn.active {
   display: block;
}

/* Upload result section */
.a-ur .a-ur-body {
   margin-top: 80px;
}

.a-ur .a-ur-body input[type="radio"] {
   /* Hide the default radio button */
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   /* Create a custom circular radio button */
   width: 24px;
   height: 24px;
   border-radius: 50%;
   border: 2px solid #ccc;
   outline: none;
   cursor: pointer;
}

input[type="radio"]:checked {
   /* Change the background color when the radio button is checked */
   background-color: #fff; /* Replace with your desired color */
   /* Add a custom dot inside the radio button when checked */
   content: "";
   display: block;
   border-radius: 50%;
   background-color: #6a8264;
}
.u-s .success-con .wrap {
   /* width: 400px;
height: 400px; */
   padding: 70px;
}
.form-title-wrap.off {
   display: none;
}
.s-wrap {
   display: none;
}
.s-wrap.on {
   display: block;
}
