.signin .form-inputs img{
    width: 24px;
}
.signin .form .btn-con{
    margin-top: 100px;
}
.signin .form input {
    border: none;
}
.signin .form .d-flex {
    border: 1px solid rgba(128, 128, 128, 0.372);
}