body{
  font-family: "Poppins"  Verdana, Geneva, Tahoma, sans-serif;
}
.inec-sec {
  color: #31452C;
}
.inec-pri {
  color: #6A8264;
}
.inec-white{
  color: #FEFEFE;
}

.inec-bg-sec {
  background-color: #31452C;
}
.inec-bg-pri {
  background-color: #6A8264;
}
.ince-bg-white{
  background-color: #FEFEFE;
}
.font-bold{
  font-weight: bold;
}
.h-100{
  min-height: 100vh;
}
.bg-con{
  background: url('../public/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}
.inec-smoke {
  color: #bbbbbb;
}
.inec-bg-smoke {
  background-color: #bbbbbb;
}